body {
  background-image: url("https://images.homedepot-static.com/productImages/5533b6d9-37b4-4e8d-9aae-655ef6b9c49e/svn/chesapeake-wallpaper-has01233-64_1000.jpg");
  max-width: 600px;
  margin: auto;
  width: 95%;
  color: #000080;
}

#main_title {
  color: #000080;
  font-family: "Lucida Console";
}

.column {
  float: left;
  width: 100%;
}

.text{
  font-family: "Lucida Console";
  font-size: 18px
}

.image_selector{
  margin-bottom: 5px
}

.image{
  width:75px;
}

.column1 {
  float: left;
  width: 100px;
}

#color-picker-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float: left;
}

.buttons {
    float:left;
    width:220px;
    height:50px;
    padding:10px;
    border-radius:4px;
}

#clearbutton {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #000080;
    color: #dff5f2;
}
