body {
  background-image: url("https://images.homedepot-static.com/productImages/5533b6d9-37b4-4e8d-9aae-655ef6b9c49e/svn/chesapeake-wallpaper-has01233-64_1000.jpg");
  max-width: 500px;
  margin: auto;
  width: 95%;
  color: #000080;
  font-family: 'Courgette', cursive;; //cursive is a backup
}

#main_title {
  color: #000080;
  letter-spacing: 3px;
  margin-bottom: 3px;
}

.column {
  float: left;
  width: 100%;
}

.text{
  font-family: "Lucida Console", serif;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 0;
}

.image_selector{
  margin-bottom: 5px;
  width: 500px;
  overflow-x:scroll;
  white-space: nowrap;
}

.image_selector::-webkit-scrollbar {
    -webkit-appearance: none;
}

.image_selector::-webkit-scrollbar:horizontal {
    height: 11px;
}

.image_selector::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 50, 100, .5);
}

.image_selector::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.image{
  width: 90px;
}

#sketchpad{
  border-style: double;
  border-radius:4px;
}

.column1 {
  float: left;
  width: 100px;
}

.column2 {
  float: left;
  width: 200px;
}

#color-picker-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float: left;
}

.buttons {
    float:left;
    height:50px;
    padding:10px;
    border-radius:4px;
}

input[type=button] {
  font-family: "Lucida Console", serif;
}

#clearbutton {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #000080;
    color: #dff5f2;
}

.navButton {
  font-size: 15px;
  padding: 10px;
  -webkit-appearance: none;
  background: #000080;
  color: #dff5f2;
}
